# Covid-19 Data

In [1]:
import pandas as pd
from IPython.display import display
import ipywidgets as widgets
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="darkgrid")

## Load the Data

For cases:

In [2]:
covid_case_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
case_data = pd.read_csv(covid_case_data_url)
case_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55335,55359,55384,55402,55420,55445,55473,55492,55514,55518
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,85336,86289,87528,88671,89776,90835,91987,93075,93850,94651
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,109088,109313,109559,109782,110049,110303,110513,110711,110894,111069
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10251,10275,10312,10352,10391,10427,10463,10503,10538,10555
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,20086,20112,20163,20210,20261,20294,20329,20366,20381,20389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2001,2050,2064,2091,2140,2142,2195,2228,2269,2311
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,162601,163213,163975,164736,165535,166200,166800,167604,168444,169487
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2127,2131,2131,2133,2134,2136,2136,2145,2145,2148
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,62633,63573,64610,65573,66598,67681,68454,69437,70248,70823
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,34552,34658,34781,34864,34864,35045,35104,35172,35222,35315

For deaths:

In [3]:
covid_death_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
death_data = pd.read_csv(covid_death_data_url)
death_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/7/21,2/8/21,2/9/21,2/10/21,2/11/21,2/12/21,2/13/21,2/14/21,2/15/21,2/16/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,2410,2413,2414,2418,2419,2424,2427,2427,2427,2428
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1460,1472,1488,1503,1517,1531,1543,1555,1567,1582
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,2914,2918,2924,2926,2930,2932,2935,2939,2943,2945
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,106,106,106,106,106,106,107,107,107,107
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,475,475,478,487,487,490,491,492,493,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,1881,1888,1897,1909,1910,1918,1930,1933,1936,1942
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,615,615,615,616,616,616,616,617,617,618
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,853,869,881,901,914,931,940,951,959,974
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1326,1339,1353,1364,1364,1393,1398,1400,1410,1414

## Collect Data of selected Countries

In [4]:
def select_data(data, selected_countries):
    days = list(data.columns[4:])
    values = {"Dates": days}
    selected_data = pd.DataFrame(values, columns = ["Dates"])
    selected_data['Days'] = pd.to_datetime(selected_data['Dates'], format='%m/%d/%y')
    selected_data.drop('Dates',axis=1,inplace=True)
    vals = data.loc[case_data['Country/Region'].isin(selected_countries)].drop(['Province/State','Long','Lat'],axis='columns')
    vals = vals.groupby('Country/Region').sum().transpose()
    vals.reset_index(drop=True, inplace=True)
    res = pd.concat([selected_data,vals],axis=1)
    res.set_index('Days',inplace=True)
    return res


country_selector = widgets.SelectMultiple(
    options=sorted(set(case_data['Country/Region'])),
    value=['Germany'],
    rows=10,
    description='Countries:',
    disabled=False
)

button = widgets.Button(
    description='Select Data',
    disabled=False,
    button_style='', # 'success', 'info', 'warning', 'danger' or ''
    tooltip='Click to start selection of data',
    icon='check' # (FontAwesome names without the `fa-` prefix)
)

#selected_countries = {'Germany','Australia'}
case_sel_data = 0
death_sel_data = 0

def start_selection(a):
    countries = set(country_selector.value)
    global case_sel_data
    case_sel_data = select_data(case_data, countries)
    global death_sel_data
    death_sel_data= select_data(death_data, countries)

button.on_click(start_selection)

display(country_selector)
display(button)

SelectMultiple(description='Countries:', index=(66,), options=('Afghanistan', 'Albania', 'Algeria', 'Andorra',â€¦

Button(description='Select Data', icon='check', style=ButtonStyle(), tooltip='Click to start selection of dataâ€¦

In [8]:
case_sel_data

            Australia  Germany
Days
2020-01-22          0        0
2020-01-23          0        0
2020-01-24          0        0
2020-01-25          0        0
2020-01-26          4        0
...               ...      ...
2021-02-12      28892  2330422
2021-02-13      28898  2336906
2021-02-14      28900  2341744
2021-02-15      28905  2346876
2021-02-16      28911  2352766

[392 rows x 2 columns]

In [9]:
death_sel_data

            Australia  Germany
Days
2020-01-22          0        0
2020-01-23          0        0
2020-01-24          0        0
2020-01-25          0        0
2020-01-26          0        0
...               ...      ...
2021-02-12        909    64771
2021-02-13        909    64990
2021-02-14        909    65107
2021-02-15        909    65288
2021-02-16        909    65829

[392 rows x 2 columns]

## Plot the selected Data

In [ ]:
def plot_selected_time_range(date_range):
    start,end = date_range
    sub = case_sel_data[start:end]
    fig, ax =plt.subplots(2,1)
    sns.lineplot(data = sub, dashes=False,ax=ax[0])
    sns.lineplot(data = sub.diff(), dashes=False,ax=ax[1])
    fig.suptitle("Covid19 Cases")
    fig.show()

options = [(i.strftime(' %d %b %y '), i) for i in case_sel_data.index]
slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(case_sel_data.index)-1),
    description='Range:',
    disabled=False
)

widgets.interactive(plot_selected_time_range, date_range = slider)

In [11]:
def plot_selected_time_range(date_range):
    start,end = date_range
    sub = death_sel_data[start:end]
    fig, ax =plt.subplots(2,1)
    sns.lineplot(data = sub, dashes=False,ax=ax[0])
    sns.lineplot(data = sub.diff(), dashes=False,ax=ax[1])
    fig.suptitle("Covid19 Death Rates")
    fig.show()

options = [(i.strftime(' %d %b %y '), i) for i in death_sel_data.index]
slider = widgets.SelectionRangeSlider(
    options=options,
    index=(0, len(death_sel_data.index)-1),
    description='Range:',
    disabled=False
)

widgets.interactive(plot_selected_time_range, date_range = slider)

interactive(children=(SelectionRangeSlider(description='Range:', index=(0, 391), options=((' 22 Jan 20 ', Timeâ€¦

## Save the Data of the last Day for selected Countries

In [ ]:
def save_last_day_data(path, kind, data):
    last_day = data.index[-1].strftime('%d-%b-%Y')
    last_day_data_dict =  {
        f'Cum {last_day}': data.iloc[-1],
        f'Diff {last_day}': data.diff().iloc[-1]
    }
    last_day_data = pd.DataFrame(last_day_data_dict)
    writer = pd.ExcelWriter(f'{path}/Covid19_Data_{kind}_{last_day}.xlsx', engine='openpyxl')
    last_day_data.to_excel(writer, sheet_name='Sheet1')
    writer.save()

path = input("Path to save the File (C:/path/to/target/folder):")
if path != '':
    save_last_day_data(path, "Cases", case_sel_data)
    save_last_day_data(path, "Deaths", death_sel_data)